[

 %% OAuth2
 {oauth2,
  [
   %% Backend
   {backend, oauth2_dberl_backend}
  ]
 },

 %% oauth2_example
 {oauth2_example,
  [
   %% Name of the master node.
   %% Default name is: "master@127.0.0.1"
   {master_node, "{{master_node}}" },

   %% HTTP Server Parameters
   {http_trans_opts, [{port, {{http_port}} }]},
   {http_listener_count, {{http_listener_count}} }
  ]
 },

 %% dberl
 {dberl,
  [
   %% Stores
   {stores,
    [
     {access_tokens,
      dberl_repo_couchbase,
      [
       {poolname, access_tokens_pool},
       {poolsize, {{db_poolsize}} },
       {host, "{{db_host}}" },
       {username, "{{db_username}}" },
       {password, "{{db_password}}" },
       {bucket, "{{db_access_tokens}}" },
       {transcoder, dberl_repo_couchbase_transcoder},
       {q_args, [{stale, {{cb_q_args_stale}} }]}
      ]
     },
     {refresh_tokens,
      dberl_repo_couchbase,
      [
       {poolname, refresh_tokens_pool},
       {poolsize, {{db_poolsize}} },
       {host, "{{db_host}}" },
       {username, "{{db_username}}" },
       {password, "{{db_password}}" },
       {bucket, "{{db_refresh_tokens}}" },
       {transcoder, dberl_repo_couchbase_transcoder},
       {q_args, [{stale, {{cb_q_args_stale}} }]}
      ]
     },
     {users,
      dberl_repo_couchbase,
      [
       {poolname, users_pool},
       {poolsize, {{db_poolsize}} },
       {host, "{{db_host}}" },
       {username, "{{db_username}}" },
       {password, "{{db_password}}" },
       {bucket, "{{db_users}}" },
       {transcoder, dberl_repo_couchbase_transcoder},
       {q_args, [{stale, {{cb_q_args_stale}} }]}
      ]
     },
     {clients,
      dberl_repo_couchbase,
      [
       {poolname, clients_pool},
       {poolsize, {{db_poolsize}} },
       {host, "{{db_host}}" },
       {username, "{{db_username}}" },
       {password, "{{db_password}}" },
       {bucket, "{{db_clients}}" },
       {transcoder, dberl_repo_couchbase_transcoder},
       {q_args, [{stale, {{cb_q_args_stale}} }]}
      ]
     }
    ]
   }
  ]
 },

 %% LAGER
 {lager,
  [
   {colored, true},
   {async_threshold, 200},
   {async_threshold_window, 5},
   {error_logger_hwm, 500},
   {handlers,
    [
     {lager_console_backend,
      [info,
       {lager_default_formatter,
        [color,
         time,
         " [", severity, "]", " ", pid, " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ", message, "\e[0m\n"
        ]
       }
      ]
     }
    ]
   }
  ]
 }

].