%%
%% releases/{VSN}/sys.config
%%

%% HTTP Server Properties
{http_host,           ""}.
{http_port,           "8080"}.
{http_listener_count, "10"}.
{master_node,         "master@127.0.0.1"}.
{node,                "master@127.0.0.1"}.

%% DBERL
{db_host,           "127.0.0.1:8091"}.
{db_username,       ""}.
{db_password,       ""}.
{db_poolsize,       "5"}.
{db_access_tokens,  "oauth2"}.
{db_refresh_tokens, "oauth2"}.
{db_users,          "oauth2"}.
{db_clients,        "oauth2"}.

%% Couchbase Options
{cb_q_args_stale, false}.